<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>

	<system.web>
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2"/>
	</system.web>

	<system.serviceModel>
		<serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
		<services>
			<service name="UserManagementService.UserService" behaviorConfiguration="UserServiceBehavior">
				<endpoint address="" binding="basicHttpBinding" contract="UserManagementService.IUserService" />
				<endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
			</service>
		</services>
		<behaviors>
			<serviceBehaviors>
				<behavior name="UserServiceBehavior">
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true" />
				</behavior>
			</serviceBehaviors>
		</behaviors>
	</system.serviceModel>
	<connectionStrings>
		<add name="UserDB"
			 connectionString="Server=localhost;Database=UserManagementDB;Integrated Security=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
